<div class='container'>
<h1>Ruby Here!!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla ante. Vivamus eleifend, odio sit amet aliquam consectetur, justo lacus finibus dui, eget rutrum lorem mi eget orci. Integer in ligula sed dui mollis tempus vel vitae odio. Donec et justo quam.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla ante. Vivamus eleifend, odio sit amet aliquam consectetur, justo lacus finibus dui, eget rutrum lorem mi eget orci. Integer in ligula sed dui mollis tempus vel vitae odio. Donec et justo quam.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla ante. Vivamus eleifend, odio sit amet aliquam consectetur, justo lacus finibus dui, eget rutrum lorem mi eget orci. Integer in ligula sed dui mollis tempus vel vitae odio. Donec et justo quam.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla ante. Vivamus eleifend, odio sit amet aliquam consectetur, justo lacus finibus dui, eget rutrum lorem mi eget orci. Integer in ligula sed dui mollis tempus vel vitae odio. Donec et justo quam.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla ante. Vivamus eleifend, odio sit amet aliquam consectetur, justo lacus finibus dui, eget rutrum lorem mi eget orci. Integer in ligula sed dui mollis tempus vel vitae odio. Donec et justo quam.
</p>
<%= link_to "home", root_path, class:"btn btn-primary" %>
</div>